div.app-flow-container {
    background-color: #ddd;
    width: 100%;
    height: 600px;
}

path.react-flow__edge-path {
    stroke-width: 3px;
}

g.react-flow__edge.selected path {
    stroke: black;
}

g.react-flow__edge.incompatible-version path {
    stroke: red;
}

g.react-flow__edge.compatible-version path {
    stroke: blue;
}

div.react-flow__node.active {
  color: white;
  background: black;
}

span.compatible-version {
    color: blue;
    font-weight: bold;
}

span.incompatible-version {
  color:red;
  font-weight: bold;
}
